body {
  height: 100vh;
}
.entire-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  padding: 30px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
}
